{% extends 'members/base.html' %}

{% block title %}
  Details about {{ mymember.firstname }} {{ mymember.lastname }}
{% endblock %}

{% block content %}
  <div class="card">
    <h1>{{ mymember.firstname }} {{ mymember.lastname }}</h1>
    <p>Phone: {{ mymember.phone }}</p>
    <p>Member since: {{ mymember.joined_date }}</p>
    <a href="{% url 'update_member' mymember.id %}" class="btn btn-primary">Edit</a>
    <a href="{% url 'delete_member' mymember.id %}" class="btn btn-danger">Delete</a>
    <a href="{% url 'members' %}" class="btn btn-secondary">Back to all members</a>
  </div>
{% endblock %}  